MYSQL_DSN=root:password@tcp(127.0.0.1:3306)/identity?parseTime=true&loc=UTC&charset=utf8mb4&collation=utf8mb4_unicode_ci
REDIS_ADDR=127.0.0.1:6379
REDIS_USER=
REDIS_PASSWORD=
REDIS_DB=0
REDIS_TTL=5m
DEMO_SEED=true
DEMO_REALM=admin
DEMO_IDENTIFIER=admin_user
DEMO_PASSWORD=123456
DEMO_SUBJECT_NO=sub-1
DEMO_SUBJECT_TYPE=admin
